# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/config.php
admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/
view/image/
*.png
*.jpg
*.gif
/.gitignore
